name: Build and Deploy
run-name: Build triggered by ${{ github.actor }}

on:
  push:
    branches: [ "master","cpm-change" ]
  pull_request:
    branches: [ "master" ]

  workflow_call:
    inputs:
      deployTarget:
        required: true
        default: staging
        type: string

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Install GoLang
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.0'

      - name: Deployment target
        env:
          DEPLOY_TARGET: staging
        run: |
          echo "Received input: ${{ inputs.deployTarget }}"
          
          if [ ! -z "${{ inputs.deployTarget }}" ]; then
            DEPLOY_TARGET=${{ inputs.deployTarget }}
          fi
          echo "Using environment...${DEPLOY_TARGET}"
          echo "DEPLOY_TARGET=${DEPLOY_TARGET}" >> $GITHUB_ENV
          
        shell: bash

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DO Container Registry
        run: doctl registry login --expiry-seconds 1200

      - name: Save DigitalOcean kubeconfig
        run: |
          if [ ${DEPLOY_TARGET} == 'prod' ]; then
            doctl kubernetes cluster kubeconfig save dhi-prod
          elif [ ${DEPLOY_TARGET} == 'staging' ]; then
            doctl kubernetes cluster kubeconfig save dev
          else
            echo "is neither MAIN nor staging branch"
          fi
        shell: bash

      - name: Build with Make
        run: make ${DEPLOY_TARGET}